{% extends "blog/base.html" %}


{% block content %}

 <div>
    <canvas id="myChart" width="1000" height="800"></canvas>
 </div>

{% endblock content %}

{% block jquery %}
<script>
date=[]
pelagiques_c=[]
demersaux_c=[]
cephalopodes_c=[]
crustaces_c=[]
capture_total_c=[]
var date="{{date}}"
var pelagiques="{{pelagiques}}"
var demersaux="{{demersaux}}"
var cephalopodes="{{cephalopodes}}"
var crustaces="{{crustaces}}"
var capture_total="{{capture_total}}"
var pattern=/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/gi;
let date_array=date.match(pattern)

let pelagiques_array=pelagiques.split(",")
let demersaux_array=demersaux.split(",")
let cephalopodes_array=cephalopodes.split(",")
let crustaces_array=crustaces.split(",")
let capture_total_array=capture_total.split(",")

for(i=1;i<=date_array.length;i++){
  pelagiques_c.push(parseFloat(pelagiques_array[i]))
  demersaux_c.push(parseFloat(demersaux_array[i]))
  cephalopodes_c.push(parseFloat(cephalopodes_array[i]))
  crustaces_c.push(parseFloat(crustaces_array[i]))
  capture_total_c.push(parseFloat(capture_total_array[i]))
}



var config = {
    type: 'line',
    data: {
        labels: date_array,
        datasets: [{
            label: 'pelagiques', // Name the series
            data: pelagiques_c, // Specify the data values array
            fill: false,
            borderColor: '#2196f3', // Add custom color border (Line)
            backgroundColor: '#2196f3', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        },
                  {
            label: 'demersaux', // Name the series
            data: demersaux_c, // Specify the data values array
            fill: false,
            borderColor: '#4CAF50', // Add custom color border (Line)
            backgroundColor: '#4CAF50', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        },

        {
            label: 'cephalopodes', // Name the series
            data: cephalopodes_c, // Specify the data values array
            fill: false,
            borderColor: '#FF0000', // Add custom color border (Line)
            backgroundColor: '#FF0000', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        },

        {
            label: 'crustaces', // Name the series
            data: crustaces_c, // Specify the data values array
            fill: false,
            borderColor: '#00FF00', // Add custom color border (Line)
            backgroundColor: '#00FF00', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        },
        {
            label: 'capture total', // Name the series
            data: capture_total_c, // Specify the data values array
            fill: false,
            borderColor: '#800080', // Add custom color border (Line)
            backgroundColor: '#800080', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        },

        
    ]
    },
    options: {
      legend: {
        position: 'top',
        labels: {
          fontColor: 'rgb(255, 99, 132)'
        },
        onHover: function(event, legendItem) {
          document.getElementById("myChart").style.cursor = 'pointer';
        },
        onClick: function(e, legendItem) {
          var index = legendItem.datasetIndex;
          var ci = this.chart;
          var alreadyHidden = (ci.getDatasetMeta(index).hidden === null) ? false : ci.getDatasetMeta(index).hidden;

          ci.data.datasets.forEach(function(e, i) {
            var meta = ci.getDatasetMeta(i);

            if (i !== index) {
              if (!alreadyHidden) {
                meta.hidden = meta.hidden === null ? !meta.hidden : null;
              } else if (meta.hidden === null) {
                meta.hidden = true;
              }
            } else if (i === index) {
              meta.hidden = null;
            }
          });

          ci.update();
        },
      },
      tooltips: {
        custom: function(tooltip) {
          if (!tooltip.opacity) {
            document.getElementById("myChart").style.cursor = 'default';
            return;
          }
        }
      },
      title: {
        display: true,
        text: ''
      },
      scale: {
        ticks: {
        beginAtZero: true
        }
      }
    }
  };

    window.onload = function() {
    window.myRadar = new Chart(document.getElementById("myChart"), config);
  };

</script>
{% endblock %}


