{% extends "blog/base.html" %}
{% block content %}
<table class="table table-striped table-borbred table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>PELAGIQUES</th>
        <th>DEMERSAUX</th>
        <th>CEPHALOPODES</th>
        <th>CRUSTACES</th>
        <th>CAPTURES TOTALES</th>
        <th>Supprimer</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
      {% for cp in cps %}
       <tr>
        <td>{{cp.date}}</td>
        <td>{{cp.pelagiques}}</td>
        <td>{{cp.demersaux}}</td>
        <td>{{cp.cephalopodes}}</td>
        <td>{{cp.crustaces}}</td>
        <td>{{cp.capture_total}}</td>
        <td>
          <a href="{% url 'capp-delete' date=cp.date %}" ><span class="btn btn-danger">Supprimer</span></a>
        </td>
        <td>
          <a href="{% url 'capp-update' date=cp.date %}" ><span class="btn btn-success">Modifier</span></a>   
        </td>
       </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock content %}