{% extends "blog/base.html" %}


{% block content %}

 <div>
    <canvas id="myChart" width="1000" height="800"></canvas>
 </div>

{% endblock content %}

{% block jquery %}
<script>
date=[]
millions_de_kw_h_c=[]
mm_bt_c=[]
mm_mt_c=[]

var date="{{date}}"
var millions_de_kw_h="{{millions_de_kw_h}}"
var mm_bt="{{mm_bt}}"
var mm_mt="{{mm_mt}}"



var pattern=/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/gi;
let date_array=date.match(pattern)

let millions_de_kw_h_array=millions_de_kw_h.split(",")
let mm_bt_array=mm_bt.split(",")
let mm_mt_array=mm_mt.split(",")


for(i=1;i<=date_array.length;i++){
  millions_de_kw_h_c.push(parseFloat(millions_de_kw_h_array[i]))
  mm_bt_c.push(parseFloat(mm_bt_array[i]))
  mm_mt_c.push(parseFloat(mm_mt_array[i]))
}


var config = {
    type: 'line',
    data: {
        labels: date_array,
        datasets: [{
            label: 'millions de kwh', // Name the series
            data: millions_de_kw_h_c, // Specify the data values array
            fill: false,
            borderColor: '#2196f3', // Add custom color border (Line)
            backgroundColor: '#2196f3', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        },
                  {
            label: 'mm bt', // Name the series
            data: mm_bt_c, // Specify the data values array
            fill: false,
            borderColor: '#4CAF50', // Add custom color border (Line)
            backgroundColor: '#4CAF50', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        },

        {
            label: 'mm mt', // Name the series
            data: mm_mt_c, // Specify the data values array
            fill: false,
            borderColor: '#FF0000', // Add custom color border (Line)
            backgroundColor: '#FF0000', // Add custom color background (Points and Fill)
            borderWidth: 1 // Specify bar border width
        },

        
    ]
    },
    options: {
      legend: {
        position: 'top',
        labels: {
          fontColor: 'rgb(255, 99, 132)'
        },
        onHover: function(event, legendItem) {
          document.getElementById("myChart").style.cursor = 'pointer';
        },
        onClick: function(e, legendItem) {
          var index = legendItem.datasetIndex;
          var ci = this.chart;
          var alreadyHidden = (ci.getDatasetMeta(index).hidden === null) ? false : ci.getDatasetMeta(index).hidden;

          ci.data.datasets.forEach(function(e, i) {
            var meta = ci.getDatasetMeta(i);

            if (i !== index) {
              if (!alreadyHidden) {
                meta.hidden = meta.hidden === null ? !meta.hidden : null;
              } else if (meta.hidden === null) {
                meta.hidden = true;
              }
            } else if (i === index) {
              meta.hidden = null;
            }
          });

          ci.update();
        },
      },
      tooltips: {
        custom: function(tooltip) {
          if (!tooltip.opacity) {
            document.getElementById("myChart").style.cursor = 'default';
            return;
          }
        }
      },
      title: {
        display: true,
        text: ''
      },
      scale: {
        ticks: {
        beginAtZero: true
        }
      }
    }
  };

    window.onload = function() {
    window.myRadar = new Chart(document.getElementById("myChart"), config);
  };

</script>
{% endblock %}


