{% extends "blog/base.html" %}
{% block content %}
<table class="table table-striped table-borbred table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Cours mondial du pétrole</th>
        <th>Prix du pétrole mauritanien</th>
        <th>Cours mondial du minerai de fer  1ère série</th>
        <th>Prix du minerai mauritanien</th>
        <th>Cours mondial du cuivre</th>
        <th>Prix du cuivre mauritanien</th>
        <th>Cours mondial de l'or</th>
        <th>Prix de l'or mauritanien</th>
        <th>Cours modial du poisson</th>
        <th>Prix du poisson mauritanien</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for cmp in cmps %}
       <tr>
        <td>{{cmp.date}}</td>
        <td>{{cmp.cours_mon_pet}}</td>
        <td>{{cmp.prix_pet_mr}}</td>
        <td>{{cmp.cours_mon_min_fer_prem_seristerling}}</td>
        <td>{{cmp.prix_min_mr}}</td>
        <td>{{cmp.cours_mon_cuivre}}</td>
        <td>{{cmp.prix_cuivre_mr}}</td>
        <td>{{cmp.cours_mon_or}}</td>
        <td>{{cmp.prix_or_mr}}</td>
        <td>{{cmp.cours_mon_poisson}}</td>
        <td>{{cmp.prix_poisson_mr}}</td>
        <td>
          <a href="{% url 'coursmatprem-delete' id=cmp.id %}" ><span class="btn btn-danger">Supprimer</span></a>
          <a href="{% url 'coursmatprem-update' id=cmp.id%}" ><span class="btn btn-success">Modifier</span></a>   
        </td>
       </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock content %}