{% extends "blog/base.html" %}
{% block content %}
<table class="table table-striped table-borbred table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Trimestre</th>
        <th>Production Cuivre</th>
        <th>Or Quantité en OZ Totale</th>
        <th>Supprimer</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
      {% for pco in pcos %}
       <tr>
        <td>{{pco.trimestre}}</td>
        <td>{{pco.production_cuivre}}</td>
        <td>{{pco.or_quantite_en_oz_total}}</td>
        <td>
          <a href="{% url 'prodcror-delete' trimestre=pco.trimestre %}" ><span class="btn btn-danger">Supprimer</span></a>
        </td>
        <td>
          <a href="{% url 'prodcror-update' trimestre=pco.trimestre %}" ><span class="btn btn-success">Modifier</span></a>   
        </td>
       </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock content %}